# Ignore everything in this directory
*
# Except this file and the __init__.py file
!.gitignore
!__init__.py
# This is to make sure the folder structure is created properly in prod
# without committing random files to the repo while testing
