<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ css }}" rel="stylesheet">
    <title>Qualys Catalog</title>
</head>

<body class="text-black">
    <div class="max-w-[90%] sm:max-w-[95%] mx-auto mt-8 bg-no-repeat bg-contain bg-right-top bg-[url('{{ background }}')]">
        {% include "intro.html.j2" %}
        {% include "learning_paths.html.j2" %}
    </div>
</body>

</html>
