<div class="py-4 sm:ml-6">
    <p class="text-3xl font-semibold">Core Learning Paths</p>
</div>
<div class="py-2 sm:ml-6">
    <div class="flex flex-col space-y-6 md:grid md:grid-cols-2 md:space-y-0 md:gap-2">
        {% for learning_path in core_learning_paths %}
            <div class="p-2 border-2 border-solid border-black rounded-md bg-white-600 shadow-md shadow-gray sm:col-span-2 lg:col-auto">
                <p class="text-2xl font-semibold pb-4 text-center 2xl:text-left">{{ learning_path.name }}</p>
                <div>
                    {% for item in learning_path.courses %}
                        <div class="mb-2 border border-{{ item.course_type }} rounded-md 2xl:inline-flex 2xl:px-1 2xl:border-none 2xl:rounded-none">
                            <p class="max-2xl:hidden 2xl:w-6">{{ loop.index }}. </p>
                            <p class="text-{{ item.course_type }} font-medium capitalize text-center 2xl:text-left 2xl:w-32">{{ item.course_type }}</p>
                            <p class="capitalize text-center 2xl:text-left 2xl:w-96">{{ item.course_name }}</p>
                            <div class="flex justify-center 2xl:justify-start 2xl:w-auto">
                                <span>
                                    (
                                        {% for name, url in item.course_links.items() %}
                                            <a class="text-blue no-underline hover:underline hover:text-blue-700 capitalize" href="{{ url }}">{{ name }}</a>
                                            {% if not loop.last %}
                                                |
                                            {% endif %}
                                        {% endfor %}
                                    )
                                </span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
