<div class="py-4 sm:ml-6">
    <p class="text-3xl font-semibold">Core Learning Paths</p>
</div>
<div class="py-2 sm:ml-6">
    <div class="grid grid-cols-1 2xl:grid-cols-2 gap-2">
    {% for learning_path in core_learning_paths %}
        <div class="p-2 2xl:p-4 rounded-md opacity-85 bg-slateblue-100">
            <h2 class="text-2xl font-semibold pb-4">{{ learning_path.name }}</h2>
            {% for item in learning_path.courses %}
            <div class="mb-2 flex flex-row justify-start">
                <div class="w-[20%]">
                    <div class="inline-flex">
                        <p class="text-black mr-2">{{ loop.index }}. </p>
                        <p class="font-medium capitalize text-{{ item.course_type }}">{{ item.course_type }}</p>
                    </div>
                </div>
                <div class="w-[80%]">
                    <div class="inline-flex justify-between w-full">
                        <p class="capitalize text-black w-[60%]">{{ item.course_name }}</p>
                        <span class="w-[30%]">
                        {% for name, url in item.course_links.items() %}
                            <a class="text-blue no-underline hover:underline hover:text-blue-700 capitalize" href="{{ url }}">{{ name }}</a> {% if not loop.last %} | {% endif %}
                        {% endfor %}
                        </span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% endfor %}
    </div>
</div>
