<div class="pt-4 sm:ml-6">
    <p class="text-3xl font-semibold">Levels of Training</p>
</div>
<div class="py-4 sm:ml-6">
    <div class="flex flex-col space-y-6 xl:max-w-[50%]">
        <div class="border border-foundation rounded-md p-2 text-center md:border-none md:rounded-none md:text-left">
            <p class="text-2xl font-semibold text-foundation">Foundation</p>
            <p>These classes are our most basic. They introduce you to either basic security concepts or high-level Qualys technology. These courses do not have a competency exam. Completing a Foundation course gives you a completion certificate. These certificates do not expire.</p>
        </div>
        <div class="border border-onboarding rounded-md p-2 text-center md:border-none md:rounded-none md:text-left">
            <p class="text-2xl font-semibold text-onboarding">Onboarding</p>
            <p>Onboarding Training is designed to get new customers moving as quickly as possible. It is like a crash course in getting up to speed quickly. These courses do not have a competency exam. Completing an Onboarding course gives you a completion certificate. These certificates do not expire.</p>
        </div>
        <div class="border border-specialist rounded-md p-2 text-center md:border-none md:rounded-none md:text-left">
            <p class="text-2xl font-semibold text-specialist">Specialist</p>
            <p>After Onboarding, you should attend Certified Specialist Training. We have recommended appropriately ordered learning paths. Certified Specialist Training can be self-paced or, in some cases, instructor-led. After completing the training, there is an exam associated with the course. Certified Specialist certificates expire and require recertification. A completion certificate is given for completing the training, and a specialist certificate is given for passing the exam.</p>
        </div>
    </div>
</div>
