<div class="max-w-[70%] mb-4 sm:mb-8">
    <img class="max-w-full block m-h-64 object-cover" src="{{ logo.href }}" alt="{{ logo.alt }}" />
</div>

{% if levels_of_training.href %}
<div class="xl:max-w-[80%] mb-4 sm:mb-8">
    <img class="max-w-full block object-cover" src="{{ levels_of_training.href }}" alt="{{ levels_of_training.alt }}">
</div>
{% endif %}
