<div class="pt-4 sm:ml-6">
    <p class="text-3xl font-semibold">Levels of Training</p>
</div>
<div class="py-4 sm:ml-6">
    <div class="flex flex-col space-y-6">
        <div
            class="border border-foundation rounded-md p-2 text-center md:border-none md:rounded-none md:text-left">
            <p class="text-2xl font-semibold text-foundation">Foundation</p>
            <p>If you are not familiar with any of the basic terminology and are brand new to the security
                industry, this may be the place to start.</p>
            <p>Foundational courses issue a completion certificate when you complete the training. There is no
                competency exam.</p>
        </div>
        <div
            class="border border-onboarding rounded-md p-2 text-center md:border-none md:rounded-none md:text-left">
            <p class="text-2xl font-semibold text-onboarding">Onboarding</p>
            <p>Onboarding Training is designed to get new customers moving as quickly as possible. It is not a
                certified training.</p>
            <p>If you just purchased VMDR, this is where you should start.</p>
        </div>
        <div
            class="border border-specialist rounded-md p-2 text-center md:border-none md:rounded-none md:text-left">
            <p class="text-2xl font-semibold text-specialist">Specialist</p>
            <p>Certified Training is where you go after onboarding. This list contains available training
                offered as both self-paced and instructor-led.</p>
            <p>After you complete this training, you will be ready for the exam. You can enroll in exams
                spearately in the widgets below.</p>
        </div>
    </div>
</div>
